.card-content {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.text-review-box {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 16px;
}

.center-content {
  text-align: center;
}

ion-toolbar {
  --border-style:none;
}
