ion-content {
  text-align: center;
}

@font-face{
  font-family: Itim;
  src: url('../../assets/fonts/itim.woff2') format('woff2');
}

*{
  font-family: Itim;
}


.getstart {
  font-size: 20px;
}

//** page-review**//
.card-content {
  margin-left: auto;
  margin-right: 2%;
}
ion-icon.icon-review {
  font-size: 50px;
}
.text-review {
  font-size: 18px;
  margin-left: 5%;
}
ion-textarea {
  height: 15vh;
  border: solid 1px rgb(51, 48, 48);
  margin-left: 2%;
}
ion-textarea.impressive {
  height: 10vh;
  border: solid 1px rgb(51, 48, 48);
  margin-left: 2%;
}

ion-toolbar {
  --border-style:none;
}

.card-content{
  text-align: center;
}




